*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
    font-size: small;
}
.container {
    text-align: center;
    margin-top: 10%;
    
}
.genderName {
    display: flex;
    margin-top: 10%;
}
.block {
    background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
    border-radius: 10px;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    transition: 2s height width;
}
.block:hover {
    height: 50vh;
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
    color: white;
}
.btn {
    transition: 3s width;
}
.btn:hover {
    width: 50%;
    font-weight: bolder;
    background-color: paleturquoise;
}

/* media queries */
@media screen and (max-width: 900px) {

    .block{
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 300px) {
    .block{
        font-size: smaller;
    }
}
