.form {
    background-color: blue;
    width: 30%;
    height: 40vh;
    justify-content: space-around;
    position: absolute;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 70%;
    position: relative;
    left: 20%;
}